streamlit
numpy
Keras
opencv-python-headless

tensorflow
#uncomment below two lines and comment above 1 line if you're running on a mac.
#tensorflow-mac
#tensorflow-metal

pandas
numpy
matplotlib
Pillow
streamlit_webrtc

